/* Ini File CSS */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    border: 1px solid;
    height: 50px;
    width: 50px;
}

.banner-image {  
    border: 1px solid;
    height: 450px;
}

.content {
    /* opsional */
    height: 500px;
}

.footer {
    text-align: center;
}
